* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.azeret-mono-normal {
     font-family: "Azeret Mono", monospace;
     font-optical-sizing: auto;
     font-style: normal;
}

/* header style start */
/* nav style start */
.navigation-container {
     display: flex;
     justify-content: space-between;
}

.navigation-container h4 {
     margin: 50px 0px 0px 150px;
     color: rgb(13, 19, 33);
     font-size: 28px;
     font-weight: 700;
}

.navigation-container a {
     margin: 38px 166px 0px 0px;
     text-decoration: none;
     color: black;
     border: 1px solid rgb(50, 50, 50);
     padding: 10px 24px 21px 24px;
     font-size: 26px;
     font-weight: 550;
     margin-bottom: 35px;
}

.nav-btn {
     border: none;
     background-color: transparent;
}

/* nav style end */

/* banner style start */
.banner-container {
     width: 100%;
     height: 650px;
     background-image: url("../assets/Hero-bg.png");
}

.banner-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0px 221px;
}

.banner-image {
     margin-top: 30px;
}

.banner-title {
     color: rgb(13, 19, 33);
     font-size: 48px;
     font-weight: 800;
     line-height: 68px;
     letter-spacing: 0%;
     text-align: center;
     margin-top: 32px;
}

.banner-description {
     color: rgb(13, 19, 33);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0%;
     text-align: center;
     opacity: 0.7;
     margin-top: 24px;
}

.baner-btn {
     padding: 10px 15px;
     color: rgb(255, 255, 255);
     font-size: 18px;
     font-weight: 600;
     border-radius: 5px;
     background: rgb(13, 19, 33);
     margin-top: 32px;
}

/* banner style end */
/* header style end */
/* shared heading */
.heading3 {
     color: rgb(13, 19, 33);
     font-size: 30px;
     font-weight: 700;
}

.heading4 {
     color: rgba(13, 19, 33, 0.7);
     font-size: 24px;
     font-weight: 650;
     margin-bottom: 20px;
}

/* Shared text style */
.normal-test-style {
     color: rgb(13, 19, 33);
     font-size: 16px;
     font-weight: 400;
     opacity: 0.7;
}

/* Shared button style */
.common-button-style {
     color: rgb(13, 19, 33);
     font-size: 18px;
     font-weight: 500;
     background-color: transparent;
     padding: 6px 9px;
     margin-top: 32px;
}

/* Main Style start*/
/* First Section Style Start */
.first-section {
     margin: 74px 152px 90px;
     padding: 70px 80px;
     background-color: rgba(13, 19, 33, 0.02);
     height: 1393px;
}

.first-section-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}
.first-section-title{
     margin-bottom: 24px;
}
.first-section-part{
     margin-top: 48px;
}
.first-section-part-1, .first-section-part-3{
     display: flex;
     justify-content: space-between;
     text-align: left;
     background-color: white;
     margin-bottom: 32px;
     padding: 40px;
     gap: 150px;
}
.first-section-part-2{
     display: flex;
     justify-content: space-between;
     text-align: left;
     background-color: white;
     margin-bottom: 32px;
     padding: 40px;
     gap: 30px;
}
/* First Section Style End */
/* Main Style end*/